/* GIVEN I need to sample a potential employee's previous work
WHEN I load their portfolio
THEN I am presented with the developer's name, a recent photo or avatar, and links to sections about them, their work, and how to contact them
WHEN I click one of the links in the navigation
THEN the UI scrolls to the corresponding section
WHEN I click on the link to the section about their work
THEN the UI scrolls to a section with titled images of the developer's applications
WHEN I am presented with the developer's first application
THEN that application's image should be larger in size than the others
WHEN I click on the images of the applications
THEN I am taken to that deployed application
WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport */

:root {
    --seperation: 0.7em;
    --imgSize: 250px;
    --roundness: 3em;
    --borderColor:#FFFFF0;
    --textColor:#FFFFF0;
    --textBackgroundColor: #0b5679;
    --borderThickness: 0.05em;
}

html {
    /* background-image: linear-gradient(#7B90D2, #FEDFE1); */
    background-image: linear-gradient(#58B2DC, #ffc6d2);
}

body {
    font-size: 16px;
}

header {
    max-width: fit-content;
    margin: 0 auto;
}

h1 {
    max-width: fit-content;
    padding: var(--seperation);
    margin-top: var(--seperation);
    margin-bottom: 0;
    font-size: 6em;
    border: var(--borderThickness) solid var(--borderColor);
    border-radius: var(--roundness);   
    color: var(--textColor);
    background-color: var(--textBackgroundColor);
}

a {
    color: inherit;
    text-decoration: none;
}

.img-nav {
    width: fit-content;
    margin: 4em auto 2em auto;
    margin-bottom: 80px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.personalImg {
    height: var(--imgSize);
    width: var(--imgSize);
    border: var(--borderThickness) solid var(--borderColor);
}

nav {
    left: 500px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: .5em solid var(--borderColor);
    border-radius: var(--roundness); */
    margin-top: var(--seperation);
    padding: .5em;
    height: 3em;
    width: 27em;
    font-size: 1.3em;
}

nav ul a {
    color: var(--textColor);
    background-color: #0b5679;
}

nav a {
    border: var(--borderThickness) solid var(--borderColor);
    border-radius: var(--roundness);
    width: fit-content;
    height: fit-content;
    padding: 0.25em;
    color: black;
    font-size: 1.7em;
    text-align: center;
}

#mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subSection {
    display:flex;
    justify-content: center;
}

.articleCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 10px;
}

/* container for the current sections content */

.contentBox {
    margin-right: 2em;
    border: 2px solid var(--borderColor);
    border-radius: 20px;
    padding: var(--seperation);
    width: 66%;
    background-color: var(--textBackgroundColor);
}

 h2 {
    text-align: center;
    border: var(--borderThickness) solid var(--borderColor);
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    padding: 0.2em;
    font-size: 4em;
    position: relative;
    margin: 100px auto;
    color: var(--textColor);
    background-color: var(--textBackgroundColor);
}

p {
    color: var(--textColor);
    margin: 1.5em;
}

footer {
    width: 100%;
    height: 100px;
}