/* GIVEN I need to sample a potential employee's previous work
WHEN I load their portfolio
THEN I am presented with the developer's name, a recent photo or avatar, and links to sections about them, their work, and how to contact them
WHEN I click one of the links in the navigation
THEN the UI scrolls to the corresponding section
WHEN I click on the link to the section about their work
THEN the UI scrolls to a section with titled images of the developer's applications
WHEN I am presented with the developer's first application
THEN that application's image should be larger in size than the others
WHEN I click on the images of the applications
THEN I am taken to that deployed application
WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport */

/* Variables */

:root {
    --seperation: 0.7em;
    --imgSize: 250px;
    --imgSizeHover: 254px;
    --roundness: 3em;
    --borderColor:#FFFFF0;
    --textColor:#FFFFF0;
    --textBackgroundColor: #0b5679;
    --borderThickness: 0.05em;
    --transitionDuration: 0.38s; 
}

/* Default styling applied to all content */

* {
    font-family: "Roboto", sans-serif;
}

html {
    background-image: linear-gradient(#58B2DC, #ffc6d2);
}

body {
    font-size: 16px;
}

/* Header styling */

header {
    max-width: fit-content;
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    margin-top: var(--seperation);
    text-align: center;
    width: fit-content;
    padding: var(--seperation);
    font-size: 4em;
    border: var(--borderThickness) solid var(--borderColor);
    border-radius: var(--roundness);   
    color: var(--textColor);
    background-color: var(--textBackgroundColor);
    transition-duration: var(--transitionDuration);
}

h1:hover {
    font-size: 4.1em;
    border-width: .06em;
}

a {
    color: inherit;
    text-decoration: none;
}

/* img + nav bar container */

.img-nav {
    width: 100%;
    margin: 4em auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
}

.personalImg {
    max-height: var(--imgSize);
    max-width: var(--imgSize);
    transition-duration: var(--transitionDuration);
}

.personalImg img {
    height: 100%;
    width: 100%;
}

.personalImg:hover {
    max-height: var(--imgSizeHover);
    max-width: var(--imgSizeHover);
}

/* Nav Bar Styling */

ul {
    list-style: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: var(--seperation);
    padding: .5em;
    height: 3em;
    width: 29em;
    font-size: 1.3em;    
}

nav ul li {
    display: flex;
    align-items: center;
    transition-duration: var(--transitionDuration);
    border-radius: var(--roundness);
    /* border: .1em solid var(--borderColor); */
}
    

nav ul li:hover {
    font-size: 1.1em;
    border: .1em solid var(--borderColor);
    height: fit-content;
    width: fit-content;
}

nav ul a {
    color: var(--textColor);
    background-color: #0b5679;
    border-radius: var(--roundness);
    border: .1em solid var(--borderColor)
}

nav a {
    border-radius: var(--roundness);
    width: fit-content;
    height: fit-content;
    padding: 0.25em;
    color: black;
    font-size: 1.7em;
    text-align: center;
    margin: 0 auto;
}


/* flex container for subheading + section content */

.articleCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* container with sub heading */

.subHeadingContainer {
    min-width: 339.13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 h2 {
    text-align: center;
    border: var(--borderThickness) solid var(--borderColor);
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    padding: 0.2em;
    font-size: 4em;
    position: relative;
    margin: 1em auto;
    color: var(--textColor);
    background-color: var(--textBackgroundColor);
    transition-duration: var(--transitionDuration);
}

h2:hover {
    border-width: 0.1em;
}

/* container for the current sections content */

.contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 9%;
    border: 0.15em solid var(--borderColor);
    border-radius: 20px;
    padding: var(--seperation);
    min-width: fit-content;
    max-width:fit-content;
    background-color: var(--textBackgroundColor);
}

/* text p styling for about me content */

p {
    text-align: center;
    color: var(--textColor);
    font-size: 1.7em;
    padding: 2em; 
    line-height: 2em;
    width: fit-content;
}

/* My Work Section */

hr {
    margin-top: 3em;
    width: 66%;
    height: 0.1em;
    background-color: black;
}

h3 {
    color: var(--textColor);
    background-color: var(--textBackgroundColor);
    border: var(--borderThickness) solid var(--borderColor);
    border-radius: var(--roundness);
    padding: .5em;
    transition-duration: var(--transitionDuration);
    width: fit-content;
}

/* Makes first work tile larger than others */
#firstProject {
    width: 24em;
    height: 17em;
    background-image: url(../images/Prework-Study-Guide.png);
    background-size: 100%;
}
/* default work tile styling */
.workTile {
    width: 16em;
    height: 13em;
    border: 1px solid white;
    border-radius: var(--roundness);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: var(--transitionDuration);
    opacity: 0.8;
}

.workTile:hover {
    background-color: #1778a5;
    cursor: pointer;
    border: .3em solid #ffabbd;
    opacity: 1;
}

.workTile:hover h3 {
    font-size: 1.35em;
}

/* about me section */

#aboutMeArticle {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 1.3em;
}

#emailButton {
    font-size: 4em;
    width: fit-content;
    transition-duration: var(--transitionDuration);
    background-color: var(--textBackgroundColor);
    color: var(--textColor);
    border-style: inset;
}

#emailButton:hover {
    font-size: 4.5em;
    background-color:#1e95cd;
    cursor: pointer;
}

/* footer styling */

.footerHr {
    margin-top: 3em;
    width: 33%;
    height: 0.1em;
    background-color: black;
}

footer {
    width: 100%;
    height: fit-content;
}

h4 {
    margin: 0.5em auto;
    padding: 0.2em;
    opacity: 0.75;
    width: fit-content;
    text-align: center;
    font-size: 3em;
    color: var(--textColor);
    background-color: var(--textBackgroundColor);
    border: var(--borderThickness) solid var(--borderColor);
    border-radius: var(--roundness);
    transition-duration: var(--transitionDuration);  
}

h4:hover {
    opacity: 1;
    cursor: pointer;
    padding: 0.3em;
}


/* media query breakpoints */

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 8px;
    }

}

/* Extra small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        font-size: 8px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        font-size: 10px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        font-size: 14px;
    }    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 16px;
    }    
}

/* Extra extra large devices (hi-res monitors) */

@media only screen and (min-width: 1600px) {
    body {
        font-size: 18px;
    }
}